html {
  background-color: #35654d;
  color: antiquewhite;
  font-family: Noto Sans, serif
}

body {
  --padding: 8px;
  --buf: calc( var(--padding) * 2 );
  --bar-height: 3em;
  margin: 0px var(--padding) var(--padding) var(--padding);
}

.top-bar {
  display: flex;
  align-items: center;
  height: calc(var(--bar-height) - var(--buf));
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  white-space: nowrap;
}

.selected {
  border: 4px solid yellow;
}

.dash-line {
  width: 50%;
  border-top: 3px solid #264334;
  margin-left: 1em;
  margin-right: 1em;
}

.field {
  --card-pad: 1em;
  --rows: 4;
  --cols: 9;
  --window-height: calc(100vh - var(--bar-height) - var(--padding));
  --max-height: calc(var(--window-height) - ( var(--card-pad) * (var(--rows) - 1 )));
  --max-width: calc(100vw - var(--buf) - ( var(--card-pad) * (var(--cols) - 1 )));
  display: grid;
  justify-content: space-between;
  gap: var(--card-pad) var(--card-pad)
}

.card, .stock, .waste, .tableau, .foundation {
  max-width: calc( var(--max-width) / var(--cols) );
  max-height: calc( var(--max-height) / var(--rows) );
}

.stock {
  grid-column: 1;
  grid-row: 1;
}

.waste {
  grid-column: 1;
  grid-row: 2;
}

.tableau {
  grid-row: 1 / 4;
}

.tableau-base {
  grid-row: 1 / 5;
  max-width: calc( var(--max-width) / var(--cols) );
  position: relative;
}

.stack-positioner {
  height: 7%;
  width: 100%;
}

.stacked {
  height: auto;
  width: 100%;
  position: absolute;
}

.foundation {
  grid-column: 9;
}