html {
  background-color: darkgreen;
  color: antiquewhite;
}

body {
  --padding: 8px;
  --buf: calc( var(--padding) * 2 );
  --bar-height: 3em;
  margin: 0px var(--padding) var(--padding) var(--padding);
}

.top-bar {
  height: calc(var(--bar-height) - var(--buf));
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  align-content: center;
}

.field {
  --card-pad: 1em;
  --rows: 4;
  --cols: 9;
  --window-height: calc(100vh - var(--bar-height) - var(--padding));
  --max-height: calc(var(--window-height) - ( var(--card-pad) * (var(--rows) - 1 )));
  --max-width: calc(100vw - var(--buf) - ( var(--card-pad) * (var(--cols) - 1 )));
  display: grid;
  justify-content: space-between;
  gap: var(--card-pad) var(--card-pad)
}

.card, .stock, .waste, .tableau, .foundation {
  max-width: calc( var(--max-width) / var(--cols) );
  max-height: calc( var(--max-height) / var(--rows) );
}

.stock {
  grid-column: 1;
  grid-row: 1;
}

.waste {
  grid-column: 1;
  grid-row: 2;
}

.tableau {
  grid-row: 1 / 4;
}

.tableau-base {
  grid-row: 1 / 5;
  max-width: calc( var(--max-width) / var(--cols) );
  position: relative;
}

.stack-positioner {
  height: 6%;
  width: 100%;
}

.stacked {
  height: auto;
  width: 100%;
  position: absolute;
}

.foundation {
  grid-column: 9;
}